pkgbase = linux-besrv
	pkgver = 3.4.16
	pkgrel = 1
	url = http://www.kernel.org
	arch = i686
	arch = x86_64
	license = GPL2
	options = !strip
	source = http://www.kernel.org/pub/linux/kernel/v3.x/linux-3.4.tar.xz
	source = config-3.4-server.i686
	source = config-3.4-server.x86_64
	source = linux-besrv.preset
	source = http://www.kernel.org/pub/linux/kernel/v3.x/patch-3.4.16.xz
	sha256sums = ff3dee6a855873d12487a6f4070ec2f7996d073019171361c955639664baa0c6
	sha256sums = e8aca2e6c609e9d9088402faede13d9946fb8f6ae44d02ea0994dc007a9a2bd5
	sha256sums = ff0d794a3e9eb9bfa9b79fe7e1d9a9118ec5f4161470b5302980b33ef4ab922a
	sha256sums = 64b2cf77834533ae7bac0c71936087857d8787d0e2a349037795eb7e42d23dde
	sha256sums = 0110f0d5b61a808aa18d9470c52ac4d4d47e02bde5457358d15fabdb726e9f9d

pkgname = linux-besrv
	pkgdesc = The Linux Kernel and modules, BlackEagle Server Edition
	install = linux-besrv.install
	depends = coreutils
	depends = kmod>=10
	depends = mkinitcpio>=0.9
	optdepends = crda: to set the correct wireless channels of your country
	optdepends = linux-firmware: when having some hardware needing special firmware
	provides = linux
	replaces = nouveau-drm
	replaces = kernel26-slk
	replaces = kernel26-besrv
	replaces = linux-bemm
	backup = etc/mkinitcpio.d/linux-besrv.preset

pkgname = linux-besrv-headers
	pkgdesc = Header files and scripts for building modules for linux-besrv
	provides = linux-headers
	replaces = kernel26-besrv-headers
	replaces = linux-bemm-headers

